$fontcolor:  rgb(10%, 10%, 10%);
$backgroundcolor: rgb(98%, 98%, 98%);


body {
  font-family: "Roboto", sans-serif;
  color: $fontcolor;
  background-color: $backgroundcolor;
  margin: 50px;
  flex: display;
  flex-direction: row;
}

#video-layout {
  display: flex;
  flex-direction: row;
  .details  {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 3px #888888;
    #header {
      font-size: 40px;
    }
    #description  {
      font-size: 20px;
    }
  }
}

#search-bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;

  input {
    font-size: 1.5em;
    border-radius: .25em;
    height: 30px;
    width: 400px;
  }
  img {
    height: 100px;
    width: 200px;
    cursor: pointer;
  }
}

#video-section {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 3px #888888;
  height: 560px;
  padding: 0;
  margin-left: 10px;

  li {
    list-style: none;
    cursor: pointer;
    display: flex;
    width: 25vw;
    padding: 10px;
  }
  li:hover {
    background: darken( $backgroundcolor, 10% );
  }
  #video-item {
    display: flex;

    border-bottom:solid rgb(163, 163, 163) 1px;
  }
}
